*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    justify-items: center;
    margin-top: 10px;
}
#container div{
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 300px;
}
img{
    width: 250px;
    height: 300px;
    border-radius: 5px;
}